[submodule "submodule/wamr"]
	path = submodule/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "submodule/pthread-win32"]
	path = submodule/pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32.git
[submodule "submodule/mimalloc"]
	path = submodule/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "submodule/imgui"]
	path = submodule/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodule/wgpu-native"]
	path = submodule/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native.git
